// Importar funciones y variables de Bootstrap necesarias antes de importar todo
@import "bootstrap/functions";
@import "bootstrap/variables"; // Importante: debe importarse después de definir $theme-colors

$theme-colors: map-merge($theme-colors, (
    "very-pale-purple":rgb(59, 73, 223),
    "pale-purple":rgb(47, 58, 178),
) );

// Importar el resto de Bootstrap
@import "bootstrap/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f6f5;
    width: 100vw;
}